html,
body {
    height: 100%;
    // overflow-x: hidden;/
}

body {
    display: flex;
    flex-direction: column;
    @extend %Com-400;
    background-color: #fefefe;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    line-height: 54px;
    color: #010409;
    @extend %Com-700;
}
