@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "media";
@import "global";

.header {
    min-height: 112px;
    margin-bottom: 75px;
}

.menu-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    min-height: 72px;

    &__items {
        display: flex;
    }

    &__item {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__link,
    &__link-stock {
        font-size: 18px;
        transition: color 0.3s;
        &:hover {
            color: #266edb;
        }
    }

    &__icon-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 185px;
    }
}

.menu-search {
    &__form {
        margin-top: 12px;
        max-width: 100%;
        border: none;
        border-bottom: 1px solid #73767d;
    }
    &__label {
        display: block;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url("../images/icons/search.svg");
            left: 16px;
            top: -3px;
        }
    }

    &__input {
        border: none;
        width: 100%;
        padding: 0 0 5px 45px;
        outline: 0;
        &::placeholder {
            font-size: 14px;
        }
    }
}

// Content Part ------------------------------------------------------------------------------------->

.slider {
    // min-height: 747px;
    background-color: #010409;

    &__item {
        display: flex !important;
        justify-content: space-between;
        min-width: 0;
        text-align: center;
        position: relative;
    }
    &__bolck-text {
        margin-top: 201px;
        max-width: 601px;
        color: #fff;
    }
    &__title {
        position: absolute;
        text-align: start;
        max-width: 601px;
        font-size: 80px;
        line-height: 89px;
        color: #d7d8da;
    }
    &__link {
        display: block;
        margin-top: 226px;
        font-size: 18px;
        line-height: 20px;
        padding: 16px 32px;
        width: 261px;
        background: #266edb;
        border-radius: 8px;
    }
    &__img {
        object-fit: cover;
    }
}
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
.slick-dots {
    display: flex;
    justify-content: center;
    transform: translateY(-20px);
}
.slick-dots li {
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #73767d;
    border-radius: 50%;
    margin-left: 16px;
    &:first-child {
        margin-left: 0;
    }
}
/* Активная точка */
.slick-dots li.slick-active {
    border: 2px solid #266edb;
}
/* Элемент точки */
.slick-dots li button {
    outline: 0;
}

.product {
    margin-top: 122px;

    &__title {
        margin-bottom: 56px;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
    }
    &__btns-mob {
        display: none;
    }

    &__btns-mob .slick-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    &__btns-mob .slick-slide {
        margin: 0 10px;
    }
    &__btn {
        margin-right: 10px;
        padding: 16px 56px;
        text-align: center;
        background: #fefefe;
        box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.1);
        border-radius: 8px;
        line-height: 18px;
        color: #73767d;
        &:last-child {
            margin-right: 0;
        }
    }
    &__btn--active {
        background-color: #010409;
        font-size: 18px;
        line-height: 20px;
        color: #fefefe;
    }

    &__items {
        display: none;
    }
    &__items--active {
        margin-top: 39px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        margin-top: 9px;
        max-width: 350px;
        min-height: 438px;
        padding: 24px 23.5px;
        background: #fefefe;
        box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.1);
        border-radius: 8px;
        position: relative;
        &:hover {
            background: #fcfcfc;
        }
    }
    &__item:hover .product__info {
        opacity: 1;
        transition: opacity 1s;
    }
    &__stars {
        margin-bottom: 20px;
        margin-left: 200px;
    }

    &__img-wrap {
        position: relative;
        border-radius: 8px;
        &::before {
            content: "";
            position: absolute;
            border-radius: 8px;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(1, 4, 9, 0.2);
            background-position: center;
        }
    }

    &__img {
        border-radius: 8px;
        object-fit: cover;
        z-index: 1;

        max-width: 302px;
        min-height: 230px;
    }
    &__bestseller,
    &__like,
    &__info,
    &__available {
        z-index: 3;
        position: absolute;
    }

    &__info {
        opacity: 0;
        color: #fbfcfe;
        left: 40px;
        top: 130px;
        transition: opacity 0.5s;
    }

    &__info-title {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 16px;
    }
    &__info-box {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__info-type {
        font-size: 12px;
        line-height: 13px;
        text-align: right;
        color: #d7d8da;
        margin-right: 8px;
    }
    &__info-weight {
        margin-left: 8px;
    }

    &__bestseller {
        top: 75px;
        left: 40px;
        padding: 8px 16px;
        color: #fbfcfe;
        background: #db2626;
        border-radius: 4px;
    }
    &__like {
        top: 82px;
        left: 290px;
    }

    &__available {
        font-size: 14px;
        line-height: 16px;
        color: #fefefe;
        text-shadow: 0px 0px 6px rgba(1, 1, 1, 0.2);
        left: 40px;
        top: 260px;
    }

    &__descr {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
    }
    &__descr-type {
        background: linear-gradient(90deg, #73767d 0.21%, rgba(115, 118, 125, 0) 84.65%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 18px;
        line-height: 20px;
        margin-left: 10px;
        @extend %Com-700;
    }
    &__descr-wight {
        font-size: 14px;
        line-height: 16px;
        color: #73767d;
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
    }
    &__price-wrap {
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__price-num,
    &__price-value {
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        color: #010409;
    }

    &__price-btn {
        padding: 16px 32px;
        font-size: 18px;
        line-height: 20px;
        color: #f4f5f5;
        background: #266edb;
        border-radius: 8px;
        cursor: pointer;
    }

    &__show-more {
        display: block;
        margin: 64px auto 0;
        font-size: 18px;
        line-height: 20px;
        color: #fefefe;
        background: #d7d8da;
        border-radius: 8px;
        padding: 16px 32px;
        cursor: pointer;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 1300px;
            height: 1px;
            background-color: #d7d8da;
            left: 50%;
            transform: translateX(-50%);
            top: 26px;
            z-index: -1;
        }
    }
}

.help {
    margin-top: 191px;
    background-color: #010409;
    min-height: 417px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background-image: url("../images/icons/help-bg.svg");
        width: 333px;
        height: 500px;
        right: 0;
        top: 0;
        z-index: 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 64px 0;
    }
    &__descr {
        color: #fefefe;
        max-width: 397px;
    }
    &__descr-choise {
        color: #db2626;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 16px;
    }
    &__descr-title {
        font-size: 48px;
        line-height: 54px;
        color: #fefefe;
        margin-bottom: 24px;
        @extend %Com-700;
    }
    &__descr-text {
        font-size: 22px;
        line-height: 25px;
        color: #fefefe;
    }

    &__form {
        color: #fefefe;
        max-width: 382px;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    &__label-name,
    &__label-pnone {
        position: absolute;
        color: #fefefe;
        left: 16px;
        font-size: 12px;
        line-height: 13px;
    }
    &__label-name {
        top: -6px;
    }
    &__label-pnone {
        top: 67px;
    }
    &__input {
        width: 382px;
        padding: 16px;
        background-color: #05142e;
        border-radius: 8px;
        border: none;
        margin-bottom: 24px;
        color: #fefefe;
        &::placeholder {
            color: #0b2d65;
        }
    }
    &__box {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 40px;
    }
    &__checkbox-wrap {
        position: relative;
    }

    .help__checkbox {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    .help__checkbox-style {
        position: absolute;
        background: #fbfcfe;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
    }

    .help__checkbox:checked + .help__checkbox-style::after {
        content: "";
        position: absolute;
        background-color: #266edb;
        border-radius: 2px;
        width: 10px;
        height: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__box-text {
        max-width: 354px;
        margin-left: 27px;
    }
    &__box-link {
        color: #73767d;
    }
    &__btn {
        padding: 16px 32px;
        color: #fefefe;
        background: #266edb;
        border-radius: 8px;
        cursor: pointer;
    }
}

.blog {
    min-height: 562px;
    margin-top: 180px;
    position: relative;
    background-image: url("../images/blog/fish-bg.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 10px 66%;

    &__pre-title {
        font-size: 16px;
        line-height: 18px;
        color: #db2626;
        margin-bottom: 16px;
    }
    &__title {
        margin-bottom: 56px;
    }
    &__items {
        padding: 0 10px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
    }

    &__items .slick-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    &__items .slick-slide {
        margin: 0 10px;
    }
    &__item {
        min-height: 334px;
    }
    &__box {
        margin-top: 24px;
        padding: 0 24px;
        max-width: 302px;
    }
    &__box-title {
        font-size: 22px;
        line-height: 25px;
        color: #010409;
        margin-bottom: 10px;
    }
    &__text {
        max-width: 177px;
        font-size: 14px;
        line-height: 16px;
    }

    &__btn {
        display: block;
        margin: 32px auto 0;
        background-color: #266edb;
        border-radius: 8px;
        color: #fefefe;
        font-size: 18px;
        line-height: 20px;
        padding: 16px 32px;
        cursor: pointer;
    }

    .prev {
        position: absolute;
        left: -20px;
        top: 28%;
        cursor: pointer;
    }
    .next {
        position: absolute;
        top: 28%;
        right: -20px;
        cursor: pointer;
    }
}

.subscr {
    min-height: 443px;
    background-color: #266edb;
    margin-top: 180px;
    padding: 64px 0;

    &__inner {
        display: flex;
        justify-content: center;
    }
    &__form-box {
        max-width: 799px;
    }
    &__title {
        font-size: 48px;
        line-height: 54px;
        color: #fbfcfe;
        margin-bottom: 24px;
        @extend %Com-700;
    }
    &__text-sales {
        font-size: 22px;
        line-height: 25px;
        color: #010409;
        margin-bottom: 16px;
    }
    &__rule {
        font-size: 12px;
        line-height: 13px;
        color: #0b2d65;
        margin-bottom: 32px;
    }

    &__form-input {
        padding: 16px;
        background: #fefefe;
        border-radius: 8px 0px 0px 8px;
        border: none;
        max-width: 372px;
        width: 100%;
        &::placeholder {
            color: #d7d8da;
        }
    }
    &__form-btn {
        position: absolute;
        background: #db2626;
        border-radius: 0px 8px 8px 0px;
        padding: 16px 32px;
        color: #fefefe;
        cursor: pointer;
    }
    &__form-text {
        margin-top: 16px;
        max-width: 540px;
        font-size: 14px;
        line-height: 16px;
        color: #d7d8da;
    }

    &__img {
        max-width: 298px;
        height: 315px;
    }
}

.container-about {
    margin-top: 180px;
}
.about {
    background: #f4f5f5;
    padding: 64px 0;

    &__upper-title {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 18px;
        color: #db2626;
    }
    &__title {
        margin-bottom: 64px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__img {
        width: 571px;
        height: 338px;
    }
    &__text-wrap {
        max-width: 495px;
        margin-top: 20px;
    }
    &__descr-title {
        font-size: 32px;
        line-height: 36px;
        color: #05142e;
        @extend %Com-700;
        margin-bottom: 24px;
    }
    &__text {
        max-width: 432px;
    }
}

// Content Part ------------------------------- End ------------------------------------------------------>

.footer {
    min-height: 600px;
}
.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title {
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #010409;
        @extend %Com-700;
        margin-bottom: 24px;
    }

    &__links-items,
    &__cont-items,
    &__social-text {
        color: #73767d;
    }

    &__links {
        max-width: 184px;
    }

    &__links-item {
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__cont {
        max-width: 189px;
    }
    &__cont-item {
        margin-bottom: 23px;
        &:first-child {
            padding-top: 4px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__cont-phone,
    &__cont-email {
        padding-left: 32px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: -3px;
            width: 24px;
            height: 24px;
        }
    }
    &__cont-phone {
        &::after {
            background-image: url("../images/icons/phone.svg");
        }
    }
    &__cont-email {
        &::after {
            background-image: url("../images/icons/email.svg");
        }
    }

    &__social {
        max-width: 250px;
    }
    &__social-text {
        font-size: 14px;
        margin-bottom: 24px;
    }
    &__social-items {
        display: flex;
    }
    &__social-link {
        margin-right: 18px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__payment {
        max-width: 214px;
    }
    &__payment-items {
        display: flex;
    }
    &__payment-mir,
    &__payment-visa {
        margin-right: 18px;
    }

    &__logo {
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        height: 80px;
        width: 191px;
    }
}
.footer-bottom {
    margin-top: 25px;

    &__title {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 55px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: #d7d8da;
            text-align: center;
            height: 1px;
            width: 1330px;
            bottom: -7px;
        }
    }
    &__rule {
        font-size: 12px;
        line-height: 13px;
        color: #73767d;
        margin-bottom: 14px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@import "media";
