@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "media";
@import "global";

.header {
    min-height: 112px;
    margin-bottom: 75px;
}

.menu {
    background-color: #fefefe;
}

.menu-mob {
    display: none;
    &__inner {
        display: flex;
        justify-content: space-between;
        min-height: 80px;
    }
    &__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 112px;
        width: 100%;
    }
    &__btn {
        width: 40px;
        height: 30px;
        padding: 5px;
        cursor: pointer;
        & span {
            display: block;
            height: 1px;
            width: 100%;
            background-color: #73767d;
            margin-bottom: 4.5px;
            transition: all 0.5s;
        }
    }
    &__logo {
        // width: 111px;
        // height: 48px;
    }
    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 112px;
        width: 100%;
    }
    &__wrap {
        background-color: #fefefe;
        position: fixed;
        max-width: 768px;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 100;
        right: 0px;
        padding: 0 16px 36px;
        transform: translateY(-500px);
        transition: all 0.9s;
    }
    &__form {
        margin: 12px 0 48px;
        max-width: 767px;
        // max-width: 100%;
        border: none;
        border-bottom: 1px solid #d7d8da;
    }
    &__label {
        display: block;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url("../images/icons/search.svg");
            right: 20px;
            top: -3px;
        }
    }
    &__input {
        border: none;
        width: 100%;
        padding: 0 0 5px 45px;
        outline: 0;
        &::placeholder {
            font-size: 14px;
        }
    }
    &__item {
        margin-bottom: 20px;
        line-height: 18px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 71px;
        max-width: 156px;
        width: 100%;
    }
}

.menu-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    min-height: 72px;

    &__items {
        display: flex;
    }

    &__item {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__link,
    &__link-stock {
        font-size: 18px;
        transition: color 0.3s;
        &:hover {
            color: #266edb;
        }
    }

    &__icon-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 185px;
    }
}

.menu-search {
    &__form {
        margin-top: 12px;
        max-width: 100%;
        border: none;
        border-bottom: 1px solid #73767d;
    }
    &__label {
        display: block;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url("../images/icons/search.svg");
            left: 16px;
            top: -3px;
        }
    }

    &__input {
        border: none;
        width: 100%;
        padding: 0 0 5px 45px;
        outline: 0;
        &::placeholder {
            font-size: 14px;
        }
    }
}

// Content Part ------------------------------------------------------------------------------------->

.slider {
    // min-height: 747px;
    background-color: #010409;

    &__item {
        display: flex !important;
        justify-content: space-between;
        min-width: 0;
        text-align: center;
        position: relative;
    }
    &__bolck-text {
        margin-top: 201px;
        max-width: 601px;
        color: #fff;
    }
    &__title {
        position: absolute;
        text-align: start;
        max-width: 601px;
        font-size: 80px;
        line-height: 89px;
        color: #d7d8da;
    }
    &__link {
        display: block;
        margin-top: 226px;
        font-size: 18px;
        line-height: 20px;
        padding: 16px 32px;
        width: 261px;
        background: #266edb;
        border-radius: 8px;
    }
    &__img {
        object-fit: cover;
    }
}
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
.slick-dots {
    display: flex;
    justify-content: center;
    transform: translateY(-20px);
}
.slick-dots li {
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #73767d;
    border-radius: 50%;
    margin-left: 16px;
    &:first-child {
        margin-left: 0;
    }
}
/* Активная точка */
.slick-dots li.slick-active {
    border: 2px solid #266edb;
}
/* Элемент точки */
.slick-dots li button {
    outline: 0;
}

.product {
    margin-top: 122px;

    &__title {
        margin-bottom: 56px;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
    }
    &__btns-mob {
        display: none;
    }

    &__btns-mob .slick-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    &__btns-mob .slick-slide {
        margin: 0 10px;
    }
    &__btn {
        margin-right: 10px;
        padding: 16px 56px;
        text-align: center;
        background: #fefefe;
        box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.1);
        border-radius: 8px;
        line-height: 18px;
        color: #73767d;
        &:last-child {
            margin-right: 0;
        }
    }
    &__btn--active {
        background-color: #010409;
        font-size: 18px;
        line-height: 20px;
        color: #fefefe;
    }

    &__items {
        display: none;
    }
    &__items--active {
        margin-top: 39px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        margin-top: 9px;
        max-width: 350px;
        min-height: 438px;
        padding: 24px 23.5px;
        background: #fefefe;
        box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.1);
        border-radius: 8px;
        position: relative;
        &:hover {
            background: #fcfcfc;
        }
    }
    &__item:hover .product__info {
        opacity: 1;
        transition: opacity 1s;
    }
    &__stars {
        margin-bottom: 20px;
        margin-left: 200px;
    }

    &__img-wrap {
        position: relative;
        border-radius: 8px;
        &::before {
            content: "";
            position: absolute;
            border-radius: 8px;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(1, 4, 9, 0.2);
            background-position: center;
        }
    }

    &__img {
        border-radius: 8px;
        object-fit: cover;
        z-index: 1;

        max-width: 302px;
        min-height: 230px;
    }
    &__bestseller,
    &__like,
    &__info,
    &__available {
        z-index: 3;
        position: absolute;
    }

    &__info {
        opacity: 0;
        color: #fbfcfe;
        left: 40px;
        top: 130px;
        transition: opacity 0.5s;
    }

    &__info-title {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 16px;
    }
    &__info-box {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__info-type {
        font-size: 12px;
        line-height: 13px;
        text-align: right;
        color: #d7d8da;
        margin-right: 8px;
    }
    &__info-weight {
        margin-left: 8px;
    }

    &__bestseller {
        top: 75px;
        left: 40px;
        padding: 8px 16px;
        color: #fbfcfe;
        background: #db2626;
        border-radius: 4px;
    }
    &__like {
        top: 82px;
        left: 290px;
    }

    &__available {
        font-size: 14px;
        line-height: 16px;
        color: #fefefe;
        text-shadow: 0px 0px 6px rgba(1, 1, 1, 0.2);
        left: 40px;
        top: 260px;
    }

    &__descr {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
    }
    &__descr-type {
        background: linear-gradient(90deg, #73767d 0.21%, rgba(115, 118, 125, 0) 84.65%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 18px;
        line-height: 20px;
        margin-left: 10px;
        @extend %Com-700;
    }
    &__descr-wight {
        font-size: 14px;
        line-height: 16px;
        color: #73767d;
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
    }
    &__price-wrap {
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__price-num,
    &__price-value {
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        color: #010409;
    }

    &__price-btn {
        padding: 16px 32px;
        font-size: 18px;
        line-height: 20px;
        color: #f4f5f5;
        background: #266edb;
        border-radius: 8px;
        cursor: pointer;
    }

    &__show-more {
        display: block;
        margin: 64px auto 0;
        font-size: 18px;
        line-height: 20px;
        color: #fefefe;
        background: #d7d8da;
        border-radius: 8px;
        padding: 16px 32px;
        cursor: pointer;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 1300px;
            height: 1px;
            background-color: #d7d8da;
            left: 50%;
            transform: translateX(-50%);
            top: 26px;
            z-index: -1;
        }
    }
}

.help {
    margin-top: 191px;
    background-color: #010409;
    min-height: 417px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background-image: url("../images/icons/help-bg.svg");
        width: 333px;
        height: 500px;
        right: 0;
        top: 0;
        z-index: 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 64px 0;
    }
    &__descr {
        color: #fefefe;
        max-width: 397px;
    }
    &__descr-choise {
        color: #db2626;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 16px;
    }
    &__descr-title {
        font-size: 48px;
        line-height: 54px;
        color: #fefefe;
        margin-bottom: 24px;
        @extend %Com-700;
    }
    &__descr-text {
        font-size: 22px;
        line-height: 25px;
        color: #fefefe;
    }

    &__form {
        color: #fefefe;
        max-width: 382px;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    &__label-name,
    &__label-pnone {
        position: absolute;
        color: #fefefe;
        left: 16px;
        font-size: 12px;
        line-height: 13px;
    }
    &__label-name {
        top: -6px;
    }
    &__label-pnone {
        top: 67px;
    }
    &__input {
        width: 382px;
        padding: 16px;
        background-color: #05142e;
        border-radius: 8px;
        border: none;
        margin-bottom: 24px;
        color: #fefefe;
        &::placeholder {
            color: #0b2d65;
        }
    }
    &__box {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 40px;
    }
    &__checkbox-wrap {
        position: relative;
    }

    .help__checkbox {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    .help__checkbox-style {
        position: absolute;
        background: #fbfcfe;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
    }

    .help__checkbox:checked + .help__checkbox-style::after {
        content: "";
        position: absolute;
        background-color: #266edb;
        border-radius: 2px;
        width: 10px;
        height: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__box-text {
        max-width: 354px;
        margin-left: 27px;
    }
    &__box-link {
        color: #73767d;
    }
    &__btn {
        padding: 16px 32px;
        color: #fefefe;
        background: #266edb;
        border-radius: 8px;
        cursor: pointer;
    }
}

.blog {
    min-height: 562px;
    margin-top: 180px;
    position: relative;
    background-image: url("../images/blog/fish-bg.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 10px 66%;

    &__pre-title {
        font-size: 16px;
        line-height: 18px;
        color: #db2626;
        margin-bottom: 16px;
    }
    &__title {
        margin-bottom: 56px;
    }
    &__items {
        padding: 0 10px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
    }

    &__items .slick-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    &__items .slick-slide {
        margin: 0 10px;
    }
    &__item {
        min-height: 334px;
    }
    &__box {
        margin-top: 24px;
        padding: 0 10px;
        max-width: 302px;
        transition: all 0.9s;
    }
    &__box-title {
        font-size: 22px;
        line-height: 25px;
        color: #010409;
        margin-bottom: 10px;
    }
    &__text {
        max-width: 177px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 5px;
    }
    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    &__read-next,
    &__read-close {
        color: #d7d8da;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-image: url("../images/icons/arrow-right-blog.svg");
            width: 14px;
            height: 12px;
            right: -20px;
            top: 4px;
        }
    }
    &__box-hidden {
        display: none;
        margin-top: 20px;
        max-width: 300px;
        margin-bottom: 32px;
        transition: all 0.4s;
    }

    &__box-text {
        margin-bottom: 10px;
        text-align: start;
    }
    &__box-warning {
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 32px;
    }

    &__read-close {
    }

    &__btn {
        display: block;
        margin: 32px auto 0;
        background-color: #266edb;
        border-radius: 8px;
        color: #fefefe;
        font-size: 18px;
        line-height: 20px;
        padding: 16px 32px;
        cursor: pointer;
    }

    .prev {
        position: absolute;
        left: -20px;
        top: 28%;
        cursor: pointer;
    }
    .next {
        position: absolute;
        top: 28%;
        right: -20px;
        cursor: pointer;
    }
}

.blog__input:checked ~ .blog__box-hidden {
    display: block;
}
.blog__input:checked ~ .blog__read-next {
    display: none;
}

.subscr {
    min-height: 443px;
    background-color: #266edb;
    margin-top: 180px;
    padding: 64px 0;

    &__inner {
        display: flex;
        justify-content: center;
    }
    &__form-box {
        max-width: 799px;
    }
    &__title {
        font-size: 48px;
        line-height: 54px;
        color: #fbfcfe;
        margin-bottom: 24px;
        @extend %Com-700;
    }
    &__text-sales {
        font-size: 22px;
        line-height: 25px;
        color: #010409;
        margin-bottom: 16px;
    }
    &__rule {
        font-size: 12px;
        line-height: 13px;
        color: #0b2d65;
        margin-bottom: 32px;
    }

    &__form {
        position: relative;
    }
    &__form-input {
        padding: 16px;
        background: #fefefe;
        border-radius: 8px 0px 0px 8px;
        border: none;
        max-width: 372px;
        width: 100%;
        &::placeholder {
            color: #d7d8da;
        }
    }
    &__form-btn {
        position: absolute;
        background: #db2626;
        border-radius: 0px 8px 8px 0px;
        padding: 16px 32px;
        color: #fefefe;
        cursor: pointer;
    }
    &__form-text {
        margin-top: 16px;
        max-width: 540px;
        font-size: 14px;
        line-height: 16px;
        color: #d7d8da;
    }

    &__img {
        max-width: 298px;
        height: 315px;
    }
}

.container-about {
    margin-top: 180px;
}
.about {
    background: #f4f5f5;
    padding: 64px 0;

    &__upper-title {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 18px;
        color: #db2626;
    }
    &__title {
        margin-bottom: 64px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__img {
        width: 571px;
        height: 338px;
    }
    &__text-wrap {
        max-width: 495px;
        margin-top: 20px;
    }
    &__descr-title {
        font-size: 32px;
        line-height: 36px;
        color: #05142e;
        @extend %Com-700;
        margin-bottom: 24px;
    }
    &__text {
        max-width: 432px;
    }
}

.catalog {
    &__filter-btn {
        display: none;
        margin: 48px auto 35px;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        color: #fefefe;
        background: #d7d8da;
        border-radius: 8px;
        padding: 16px 70px;
    }
    &__filter {
        margin: 24px 0 10px;
        display: flex;
        justify-content: flex-end;
        font-size: 14px;
        line-height: 16px;
        color: #73767d;
    }
    &__filter-title {
        margin-right: 16px;
    }
    &__filter-link--active {
        color: #010409;
        @extend %Com-700;
    }
    &__filter-link {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        max-width: 214px;
    }
    &__items-title {
        font-size: 32px;
        line-height: 36px;
        color: #010409;
        margin-bottom: 24px;
    }
    &__items {
        font-size: 22px;
        line-height: 25px;
        color: #73767d;
    }
    &__item {
        margin-bottom: 24px;
        transition: color 0.4s;
        &:hover {
            color: #266edb;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__right {
        max-width: 730px;
    }

    &__items-margin {
        margin-top: 0;
    }
}

.benefits {
    margin-top: 180px;
    min-height: 242px;
    background: #010409;
    padding: 64px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 190px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__img {
        width: 40px;
        height: 40px;
        margin-bottom: 25px;
    }
    &__text {
        text-align: center;
        color: #fefefe;
    }
}

.reviews {
    margin-top: 180px;

    &__title-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 55px;
    }
    &__title-little {
        font-size: 16px;
        line-height: 18px;
        color: #db2626;
        margin-bottom: 16px;
    }
    &__title-btn {
        font-size: 18px;
        line-height: 20px;
        color: #266edb;
        background: #f4f5f5;
        border-radius: 8px;
        padding: 16px 32px;
        cursor: pointer;
    }

    &__slider {
        padding: 0 10px;
    }
    &__slider-item {
        background: #fefefe;
        border: 0.2px solid #266edb;
        box-sizing: border-box;
        box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.1);
        border-radius: 8px;
        max-width: 350px;
        min-height: 168px;
        padding: 24px;
    }
    &__slider-top {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 16px;
        color: #73767d;
        margin-bottom: 24px;
    }
    &__slider-text {
        padding-top: 20px;
        line-height: 18px;
    }

    &__all-rewiew {
        display: block;
        margin: 32px auto 0;
        font-size: 18px;
        line-height: 20px;
        color: #fefefe;
        background: #266edb;
        border-radius: 8px;
        padding: 16px 32px;
        cursor: pointer;
    }
    &__leave-review {
        display: none;
        margin: 24px auto 0;
        font-size: 18px;
        line-height: 20px;
        color: #266edb;
        background: #f4f5f5;
        border-radius: 8px;
        padding: 16px 32px;
        cursor: pointer;
    }

    &__slider .slick-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    &__slider .slick-slide {
        margin: 0 10px;
    }

    .prev-review {
        position: absolute;
        left: -16px;
        top: 44%;
        cursor: pointer;
    }

    .next-review {
        position: absolute;
        top: 44%;
        right: -16px;
        cursor: pointer;
    }
}

.contacts {
    &__box {
        margin: 64px 0 120px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 652px;
    }

    &__address-title,
    &__phones-title {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #73767d;
    }
    &__address-main,
    &__address-sub {
        font-size: 16px;
        line-height: 18px;
        color: #010409;
        @extend %Com-700;
        margin-bottom: 16px;
    }
    &__address-location {
        margin-bottom: 24px;
    }
    &__address-location,
    &__address-sub-location {
        position: relative;
        padding-left: 26px;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/icons/pin.svg");
            width: 19px;
            height: 20px;
            left: 0;
            top: -4px;
        }
    }
    &__address-sub-location {
        margin-bottom: 16px;
        color: #73767d;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__phones-title {
        margin-bottom: 23px;
    }
    &__phones {
        display: flex;
        flex-direction: column;
    }
    &__phone,
    &__email {
        padding-left: 32px;
    }
    &__phone {
        margin-bottom: 20px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url("../images/icons/phone.svg");
            top: -4px;
            left: 0;
        }
    }
    &__email {
        position: relative;
        margin-bottom: 41px;
        &::before {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url("../images/icons/email.svg");
            top: -4px;
            left: 0;
        }
    }
    &__social {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        max-width: 598px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-image: url("../images/icons/help-bg.svg");
            width: 333px;
            height: 500px;
            right: -700px;
            top: 40px;
        }
    }
    &__info-title {
        font-size: 48px;
        line-height: 54px;
        color: #010409;
        margin-bottom: 40px;
    }
    &__info-items {
    }
    &__info-item {
        margin-left: 17px;
        color: #73767d;
        margin-bottom: 16px;
        list-style: disc;
    }
}

.error {
    margin: 271px 0 264px;

    &__inner {
        max-width: 654px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/icons/help-bg.svg");
            width: 333px;
            height: 500px;
            top: 0;
            right: -210px;
        }
    }
    &__title {
        font-size: 64px;
        line-height: 71px;
        color: #db2626;
        @extend %Com-700;
        margin-bottom: 24px;
        position: relative;
        &::after {
            content: "404";
            position: absolute;
            color: #db2626;
            font-size: 300px;
            line-height: 334px;
            bottom: -56px;
        }
    }
    &__text {
        font-size: 32px;
        line-height: 36px;
        color: #73767d;
        margin-bottom: 48px;
    }
    &__btn {
        font-size: 18px;
        line-height: 20px;
        text-align: right;
        color: #f4f5f5;
        @extend %Com-700;
        padding: 16px 92px;
        background-color: #266edb;
        border-radius: 8px;
    }
}

.blog-news {
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        margin-bottom: 40px;
    }
}

.products {
    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__descr {
        margin-top: 8px;
        width: 476px;
    }
    &__descr-title {
        font-size: 32px;
        line-height: 36px;
        color: #010409;
        margin-bottom: 24px;
        @extend %Com-700;
    }
    &__descr-inner {
        padding-bottom: 17px;
        border-bottom: 1px solid #d7d8da;
        margin-bottom: 32px;
    }
    &__descr-inner,
    &__descr-stars-box {
        display: flex;
        justify-content: space-between;
    }
    &__descr-stars-nums {
        color: #73767d;
        margin-left: 8px;
    }
    &__descr-buy {
        color: #73767d;
    }
    &__descr-buy span {
        color: #010409;
        @extend %Com-700;
    }

    &__descr-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 180px;
        margin-left: 28px;
        margin-bottom: 32px;
    }
    &__descr-old {
        margin-left: 90px;
        margin-bottom: 8px;
        font-size: 22px;
        line-height: 25px;
        text-decoration-line: line-through;
        color: #d7d8da;
    }
    &__descr-new {
        font-size: 48px;
        line-height: 54px;
        text-align: right;
        color: #05142e;
    }
    &__descr-for {
        font-size: 12px;
        line-height: 13px;
        color: #828282;
        margin-top: 8px;
    }

    &__descr-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__descr-btn {
        padding: 16px 80px;
        font-size: 18px;
        line-height: 20px;
        text-align: right;
        color: #f4f5f5;
        background: #266edb;
        border-radius: 8px;
        cursor: pointer;
        @extend %Com-700;
    }
    &__descr-btn-text {
        font-size: 18px;
        line-height: 20px;
        text-align: right;
        color: #27ae60;
    }

    &__info {
        margin-top: 80px;
    }
    &__tabs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__tab {
        display: inline-block;
        max-width: 350px;
        font-size: 22px;
        line-height: 25px;
        color: #d7d8da;
        padding: 0 100px 16px;
        border-bottom: 1px solid #d7d8da;
        &:last-child {
            margin-right: 0;
        }
    }
    &__tab--active {
        color: #05142e;
        border-bottom: 1px solid #05142e;
    }
    &__tab-content {
        display: none;
        margin-top: 32px;
    }
    &__tab-content--active {
        display: block;
    }
    &__general {
        max-width: 300px;
    }
    &__general-title {
        font-size: 18px;
        line-height: 20px;
        color: #010409;
        margin-bottom: 24px;
        @extend %Com-700;
    }
    &__general-wrap1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 16px;
        color: #73767d;
        max-width: 300px;
    }
    &__general-wrap2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 16px;
        color: #73767d;
        max-width: 250px;
    }
    &__general-wrap3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 16px;
        color: #73767d;
        max-width: 110px;
    }
    &__general-company,
    &__general-country,
    &__general-quantity {
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        color: #010409;
    }
    &__general-total {
        font-size: 14px;
        line-height: 16px;
        color: #73767d;
        @extend %Com-700;
        margin-bottom: 24px;
    }
    &__general-total-wrap {
        display: flex;
        justify-content: space-between;
    }
    &__general-total-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 80px;
        height: 80px;
        border: 1px solid #d7d8da;
        border-radius: 50%;
    }
    &__general-total-title {
        font-size: 12px;
        line-height: 13px;
        text-align: center;
        color: #73767d;
    }
    &__general-total-text {
        text-align: center;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #010409;
    }

    &__tab-content-title {
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        color: #73767d;
        margin-bottom: 32px;
    }
    &__tab-content-title a {
        color: #266edb;
    }
    &__reviews-slider {
        display: flex;
        justify-content: space-between;
    }
    &__reviews-all {
        display: none;
    }

    &__questions-items {
        display: flex;
        justify-content: space-between;
    }
    &__questions-item {
        padding: 24px;
        width: 350px;
        background: #fefefe;
        border: 0.2px solid #266edb;
        box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.1);
        border-radius: 8px;
    }
    &__questions-top {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 16px;
        color: #73767d;
        margin-bottom: 24px;
    }
    &__questions-text {
        line-height: 53px;
        margin-bottom: 16px;
    }
    &__questions-link {
        color: #266edb;
        font-size: 14px;
        line-height: 16px;
    }
}
.product-slide {
    position: relative;
    .slick-vertical .slick-slide {
        height: 56px;
        // margin-bottom: 30px;
    }

    &__thumb {
        max-width: 324px;
        height: 56px;
        margin-right: 30px;
        bottom: 23px;
        left: 26px;
        position: absolute;
    }
    &__thumb-item {
        cursor: pointer;
        img {
            width: 64px;
            height: 56px;
            border-radius: 8px;
            // margin-right: 16px;
            object-fit: cover;
            position: relative;
        }
    }
    &__thumb .slick-initialized .slick-slider .slick-vertical .slick-list {
        height: 60px;
    }
    // &__thumb-item .slick-slide {
    //     margin: 0 40px;
    // }

    // &__thumb-item .slick-list {
    //     margin-left: -40px;
    //     margin-right: -40px;
    // }
    &__big {
        position: relative;
        max-width: 570px;
        min-height: 337px;
        img {
            width: 570px;
            height: 337px;
            border-radius: 8px;
            background: rgba(1, 4, 9, 0.2);
            object-fit: cover;
        }
    }
    &__big-text {
        position: absolute;
        padding: 12px 24px;
        top: 30px;
        left: 30px;
        color: #fbfcfe;
        background: #db2626;
        border-radius: 4px;
    }
}
.product-slide__thumb .slick-list {
    height: 60px !important;
}

.products-contacts {
    margin-top: 180px;
}

.products-sale {
    margin-top: 180px;
    &__title-small {
        color: #db2626;
        margin-bottom: 16px;
    }
}

.cart-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 112px;

    &__left {
        width: 751px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 759px;
        background: #fbfcfe;
        border-radius: 8px;
        position: relative;
        margin-bottom: 24px;
    }
    &__close {
        position: absolute;
        right: -5px;
        top: -15px;
        cursor: pointer;
    }
    &__wrap {
        display: flex;
        align-items: center;
    }
    &__img {
        width: 95px;
        height: 60px;
        object-fit: cover;
        position: relative;
    }
    &__sale {
        position: absolute;
        top: -15px;
        left: -8px;
        z-index: 3;
        font-size: 12px;
        line-height: 13px;
        color: #fbfcfe;
        padding: 8px 14px;
        background: #db2626;
        border-radius: 4px;
    }
    &__descr {
        margin-left: 8px;
        font-size: 18px;
        line-height: 20px;
        color: #010409;
        @extend %Com-700;
    }

    &__nums {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 340px;
        margin-right: 16px;
        position: relative;
    }
    &__nums-label {
        position: absolute;
        top: 17px;
        right: 249px;
        z-index: 2;
    }
    &__nums-price {
        font-size: 22px;
        line-height: 25px;
        color: #010409;
    }

    &__form {
        margin-top: 90px;
        max-width: 751px;
        position: relative;
    }
    &__form-text {
        margin-bottom: 8px;
        color: #73767d;
    }
    &__form-input {
        max-width: 550px;
        width: 100%;
        background: #f4f5f5;
        border-radius: 8px 0px 0px 8px;
        border: none;
        padding: 16px;
        position: relative;
    }
    &__form-btn {
        position: absolute;
        padding: 15px 32px;
        background: #d7d8da;
        border-radius: 0px 8px 8px 0px;
        color: #fefefe;
        font-size: 18px;
        line-height: 20px;
        cursor: pointer;
    }

    &__right {
        padding: 40px 24px 23px;
        background: #f4f5f5;
        box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.1);
        border-radius: 8px;
        max-width: 327px;
        min-height: 311px;
    }
    &__right-title {
        font-size: 32px;
        line-height: 36px;
        color: #010409;
        @extend %Com-700;
        margin-bottom: 20px;
    }
    &__right-inner {
        width: 279px;
    }
    &__right-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        color: #73767d;
    }
    &__right-quantanty {
        font-size: 18px;
        line-height: 20px;
        @extend %Com-700;
    }
    &__right-wrap-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #010409;
    }
    &__right-quantanty-total {
        font-size: 32px;
        line-height: 36px;
    }
}

.cart-bottom {
    margin-top: 30px;
    &__form-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__form-left,
    &__form-right {
        background: #f4f5f5;
        border-radius: 8px;
        max-width: 540px;
        padding: 46px 24px;
        position: relative;
    }
    &__title {
        font-size: 22px;
        line-height: 25px;
        color: #010409;
        margin-bottom: 47px;
    }

    &__input {
        padding: 12px 16px;
        max-width: 492px;
        width: 100%;
        margin-bottom: 24px;
        background: #fefefe;
        border-radius: 8px;
        border: none;
        position: relative;
        &::placeholder {
            color: #d7d8da;
        }
    }
    &__label-g,
    &__label-u,
    &__label-h,
    &__label-k,
    &__label-f,
    &__label-e,
    &__form-bottom-label {
        z-index: 2;
        position: absolute;
        font-size: 12px;
        line-height: 13px;
        color: #73767d;
    }
    &__label-g {
        top: 112px;
        left: 41px;
    }
    &__label-u {
        top: 178px;
        left: 41px;
    }
    &__label-h {
        top: -7px;
        left: 16px;
    }
    &__label-k {
        top: -7px;
        left: 187px;
    }
    &__label-f {
        top: -7px;
        left: 390px;
    }
    &__label-e {
        top: 245px;
        left: 41px;
    }
    &__form-bottom-label {
        top: 18px;
        left: 57px;
    }

    &__form-wrap {
        position: relative;
    }
    &__input-h {
        max-width: 167px;
    }
    &__input-k {
        max-width: 197px;
    }
    &__input-f {
        max-width: 113px;
    }
    &__input-h,
    &__input-k,
    &__input-f {
        padding: 12px 16px;
        margin-bottom: 24px;
        background: #fefefe;
        border-radius: 8px;
        border: none;
        &::placeholder {
            color: #d7d8da;
        }
    }

    &__save {
        margin-top: 32px;
        padding: 16px 32px;
        font-size: 18px;
        line-height: 20px;
        color: #fefefe;
        background: #d7d8da;
        border-radius: 8px;
    }

    &__form-bottom {
        position: relative;
        margin-top: 70px;
        background: #f4f5f5;
        border-radius: 8px;
        padding: 24px 40px;
    }
    &__form-mess {
        padding: 12px 16px;
        width: 100%;
        resize: none;
        border: none;
        height: 108px;
        &::placeholder {
            color: #d7d8da;
        }
    }
    &__form-policy {
        margin-top: 40px;
        font-size: 14px;
        line-height: 16px;
        color: #73767d;
    }
    &__form-policy a {
        color: #010409;
    }
    &__form-btn {
        margin-top: 24px;
        font-size: 18px;
        line-height: 20px;
        text-align: right;
        color: #f4f5f5;
        padding: 16px 92px;
        background: #266edb;
        border-radius: 8px;
    }
}

.jq-number__field {
    width: 114px;
    // border: 1px solid #f0f0f0;
    transform: translateY(1px);
}

.jq-number__field input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    text-align: center;
    background-color: #fbfcfe;
}
.jq-number {
    padding: 0;
    position: relative;
}

.jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.jq-number__spin.minus {
    left: -10px;
    background-color: #266edb;
    border-radius: 8px;
    width: 40px;
    height: 40px;
}

.jq-number__spin.plus {
    right: -27px;
    background-color: #266edb;
    border-radius: 8px;
    width: 40px;
    height: 40px;
}

.jq-number__spin::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 14px;
    background-color: #fefefe;
    width: 12px;
    height: 1px;
}
.jq-number__spin.plus::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 19px;
    background-color: #fefefe;
    width: 1px;
    height: 12px;
}

// Content Part ------------------------------- End ------------------------------------------------------>

.footer {
    min-height: 600px;
}
.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title {
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #010409;
        @extend %Com-700;
        margin-bottom: 24px;
    }

    &__links-items,
    &__cont-items,
    &__social-text {
        color: #73767d;
    }

    &__links {
        max-width: 184px;
    }

    &__links-item {
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__cont {
        max-width: 189px;
    }
    &__cont-item {
        margin-bottom: 23px;
        &:first-child {
            padding-top: 4px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__cont-phone,
    &__cont-email {
        padding-left: 32px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: -3px;
            width: 24px;
            height: 24px;
        }
    }
    &__cont-phone {
        &::after {
            background-image: url("../images/icons/phone.svg");
        }
    }
    &__cont-email {
        &::after {
            background-image: url("../images/icons/email.svg");
        }
    }

    &__social {
        max-width: 250px;
    }
    &__social-text {
        font-size: 14px;
        margin-bottom: 24px;
    }
    &__social-items {
        display: flex;
    }
    &__social-link {
        margin-right: 18px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__payment {
        max-width: 214px;
    }
    &__payment-items {
        display: flex;
    }
    &__payment-mir,
    &__payment-visa {
        margin-right: 18px;
    }

    &__logo {
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        height: 80px;
        width: 191px;
    }
}
.footer-bottom {
    margin-top: 25px;

    &__title {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 55px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: #d7d8da;
            text-align: center;
            height: 1px;
            width: 1330px;
            bottom: -7px;
        }
    }
    &__rule {
        font-size: 12px;
        line-height: 13px;
        color: #73767d;
        margin-bottom: 14px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@import "media";
